/src/EasyIotSharp.API/obj
/src/EasyIotSharp.API/bin
/src/EasyIotSharp.Core/obj
/src/EasyIotSharp.Core/bin
/src/EasyIotSharp.Core.Tests/obj
/src/EasyIotSharp.Core.Tests/bin
/src/EasyIotSharp.JobRunner/bin
/src/EasyIotSharp.JobRunner/obj
/src/EasyIotSharp.MSub.PushTask/bin
/src/EasyIotSharp.MSub.PushTask/obj
/src/EasyIotSharp.API.Admin/obj
/src/EasyIotSharp.API.Admin/bin
/src/EasyIotSharp.API.Admin/obj
/src/EasyIotSharp.API.Admin/bin
/src/EasyIotSharp.TcpGateway/bin
/src/EasyIotSharp.TcpGateway/obj
/src/EasyIotSharp.MqttGateway/bin
/src/EasyIotSharp.MqttGateway/obj
/src/EasyIotSharp.GateWay.Core/bin
/src/EasyIotSharp.GateWay.Core/obj
/src/EasyIotSharp.DataProcessor/bin
/src/EasyIotSharp.DataProcessor/obj
.vs/*
/.vs
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/src/.vs
/src/EasyIotSharp.API.Admin/App_Data
