/src/EasyIotSharp.API/obj
/src/EasyIotSharp.API/bin
/src/EasyIotSharp.Core/obj
/src/EasyIotSharp.Core/bin
/src/EasyIotSharp.Core.Tests/obj
/src/EasyIotSharp.Core.Tests/bin
/src/EasyIotSharp.JobRunner/bin
/src/EasyIotSharp.JobRunner/obj
/src/EasyIotSharp.MSub.PushTask/bin
/src/EasyIotSharp.MSub.PushTask/obj
/src/EasyIotSharp.API.Admin/obj
/src/EasyIotSharp.API.Admin/bin
.vs/*
/.vs
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/src/.vs
/src/EasyIotSharp.API.Admin/App_Data
/src/EasyIotSharp.Cloud.MqttGateway/obj
/src/EasyIotSharp.Cloud.MqttGateway/bin
/src/EasyIotSharp.Cloud.TcpGateway/obj
/src/EasyIotSharp.Cloud.TcpGateway/bin
